*{box-sizing:border-box;}
.body{
	 font-family:'Roboto Condensed', sans-serif; font-weight:200; font-style:italic;
	 margin:0;
}
.tees:after {
    content: "";
    display: table;
    clear: both;
}
h1{
	text-align: center;
}

.contentWidth{
	 padding:1.5em;
	 margin: 0 auto;
	 width:100%;
	 max-width:960px;

}
.pictures{
	width:100%;
	max-width:960px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;

}
.social{
	width:100%;

}
.gallery{
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.galleryText{
	text-align: center;
	padding-top: 1em;
	font-size: 35px;
	color: #26302a;


}
.colhalf_picture {
	float:left;
	max-width: 100%;
	padding-top: 0.5em;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;

}
.singlePics{
	max-width: 100%;
	padding-top: 0.5em;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;

}
#millie{
	max-width: 100%;
	padding-top: 0.5em;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.clear{
  clear: both;

}
.header{
	height:890vh;
	height:100vh;
	width:100%;
}

.heading{
	margin-top:50px;
	background-color:#2E302F;
	color:#DBDBE5;
	font-size: 80px;
	letter-spacing: 18px;
	max-width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	text-transform:uppercase;
}
.about{
	background-color:#2E302F;
	color:#DBDBE5;
	font-size: 80px;
	letter-spacing: 18px;
	text-transform:uppercase;
}
.aboutText{
	font-size: 30px;
	padding:4em 60px 4em 60px;
	margin:0;
	text-align: center;
}
	.headHalf{
		width:50%;
		position:absolute;
		top:50%;
		left:50%;
		margin-left:-200px;
		margin-top:-300px;
	}

.tees{
	width:100%;
	}

	.teesQuarter{
		width:25%;
		padding:0;
		float:left;
		text-align:center;

		background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		position: relative;

	}
footer{
	padding-bottom: 1em;

}
h2{
	text-align:center;
	font-size:30px;
	}
	h3{
		text-align:center;
		font-size:25px;
		letter-spacing: 5px;
		}

ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262827;
	position: fixed;
    bottom:0;
    width: 100%;
	z-index:1;
	font-family:'Roboto Condensed', sans-serif;
	}

li {
    float: left;
}

li a {
    display: block;
    color: #333F3B;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
	font-size:25px;
}

	a:link {
		text-decoration: none;
		color:white;
		transition:all .3s ease-out;
		text-align: center;
	}

	a:visited {
		text-decoration: none;
		color:white;
	}
	a:hover {

		color:#C8C8D3
	}
li a:hover {
    background-color: #333F3B;
}
info {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

.center {
    width:100%;
    border: 3px solid #6BBAA7;
    padding: 10px;
}

div.body{
  margin-top: 60px;
}
.slideshow{
	width:100%;
	display:inline-block;
}
.pictures{
	width:25%;
	float:left;
	margin: 50px auto;
    position: relative;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);

}
.pictures > div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.eachPic{
	line-height:0px;
    display:inline-block;
	width:%;
	float:left;
	max-height:475.75px;

}
	.eachPic img{
		width:100%;
	}
.socialTitle{
	text-align: center;
	font-size: 40px;
	text-decoration: underline;
	text-decoration-color: #222322;
	color: #222322;
}
.socialText{
	text-align: center;
	font-size: 28px;
}

.footer{
}
#footText{
	padding-bottom: 50px;
	font-size: 20px;
	text-align: center;
	margin-top: 0;
	color:#9b9ba0;
}
@media
  only screen and (max-width: 600px){
  	.about{
  		font-size:300%;

  	}
		.heading{
			font-size: 40px;
		}
		.available{
			font-size: 20px
		}
		.buy{
			font-size: 20px
		}
		.aboutText{
			font-size: 24px;
			padding: 2em 60px 4em 60px
		}
		.galleryText{
			font-size: 28px;
		}
		#millie{
			padding-bottom: 4em
		}
  }
